packages
Console_Application/obj
SQLite/obj
.vs/SQLite_Test/v15/Server/sqlite3/db.lock
.vs/SQLite_Test/v15/Server/sqlite3/storage.ide
.vs/SQLite_Test/v15/Server/sqlite3/storage.ide-shm
.vs/SQLite_Test/v15/Server/sqlite3/storage.ide-wal
.vs/SQLite_Test/v15/.suo


!Console_Application/bin/Debug/x64
!Console_Application/bin/Debug/x86


SQLite/bin/Debug/EntityFramework.dll
SQLite/bin/Debug/EntityFramework.SqlServer.dll
SQLite/bin/Debug/EntityFramework.SqlServer.xml
SQLite/bin/Debug/EntityFramework.xml
SQLite/bin/Debug/SQLite.dll
SQLite/bin/Debug/SQLite.dll.config
SQLite/bin/Debug/SQLite.pdb
SQLite/bin/Debug/System.Data.SQLite.dll
SQLite/bin/Debug/System.Data.SQLite.dll.config
SQLite/bin/Debug/System.Data.SQLite.EF6.dll
SQLite/bin/Debug/System.Data.SQLite.Linq.dll
SQLite/bin/Debug/System.Data.SQLite.xml
Console_Application/bin/Debug/Console_Application.exe
Console_Application/bin/Debug/Console_Application.exe.config
Console_Application/bin/Debug/Console_Application.pdb
Console_Application/bin/Debug/EntityFramework.dll
Console_Application/bin/Debug/EntityFramework.SqlServer.dll
Console_Application/bin/Debug/EntityFramework.SqlServer.xml
Console_Application/bin/Debug/EntityFramework.xml
Console_Application/bin/Debug/SQLite.dll
Console_Application/bin/Debug/SQLite.dll.config
Console_Application/bin/Debug/SQLite.pdb
Console_Application/bin/Debug/System.Data.SQLite.dll
Console_Application/bin/Debug/System.Data.SQLite.dll.config
Console_Application/bin/Debug/System.Data.SQLite.EF6.dll
Console_Application/bin/Debug/System.Data.SQLite.Linq.dll
Console_Application/bin/Debug/System.Data.SQLite.xml
Console_Application/bin/Debug/TestDatabase.db
