packages
Console_Application/obj
SQLite/obj
.vs/SQLite_Test/v15/Server/sqlite3/db.lock
.vs/SQLite_Test/v15/Server/sqlite3/storage.ide
.vs/SQLite_Test/v15/Server/sqlite3/storage.ide-shm
.vs/SQLite_Test/v15/Server/sqlite3/storage.ide-wal
.vs/SQLite_Test/v15/.suo


!Console_Application/bin/Debug/x64
!Console_Application/bin/Debug/x86

Console_Application/bin/Debug

SQLite/bin/Debug/EntityFramework.dll
SQLite/bin/Debug/EntityFramework.SqlServer.dll
SQLite/bin/Debug/EntityFramework.SqlServer.xml
SQLite/bin/Debug/EntityFramework.xml
SQLite/bin/Debug/SQLite.dll
SQLite/bin/Debug/SQLite.dll.config
SQLite/bin/Debug/SQLite.pdb
SQLite/bin/Debug/System.Data.SQLite.dll
SQLite/bin/Debug/System.Data.SQLite.dll.config
SQLite/bin/Debug/System.Data.SQLite.EF6.dll
SQLite/bin/Debug/System.Data.SQLite.Linq.dll
SQLite/bin/Debug/System.Data.SQLite.xml
